<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NBA Quiz Game - positions</title>
  <link rel="stylesheet" href="/reset.css" />
  <link rel="stylesheet" href="/LEBRON.css" />
</head>
<body>
  <%- include("partials/header") %>
  <main>
    <h2>Positions</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of Players</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% positions.forEach(function(position) { %>
          <tr>
            <td><%= position.name %></td>
            <td><%= position.playerCount %></td>
            <td><a href="/positions/edit/<%= position.positionID %>" class="button edit-button">Edit</a></td>
            <td>
              <form action="/positions/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete this position?');">
                
                <input type="hidden" name="positionID" value="<%= position.positionID %>" />
                <input type="submit" value="Delete" class="button delete-button" />
              </form>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    
    <!-- Add position Button -->
    <a href="/positions/add" class="button add-button">Add position</a>

    <!-- Add position Form -->
    <form id="add-form" method="post" action="/positions/add" style="display: none;">
      <h3>Add position</h3>
      <fieldset>
        <label for="add-name">Name:</label>
        <input type="text" id="add-name" name="name" required />
      </fieldset>
      <input type="submit" value="Add position" />
      <a href="/positions" class="button cancel-button">Cancel</a>
    </form>
    
    <!-- Edit position Form -->
    <form id="edit-form" method="post" action="/positions/update" style="display: none;">
      <h3>Edit position</h3>
      <fieldset>
        <label for="edit-id">position ID:</label>
        <input type="number" id="edit-id" name="positionID" required />
      </fieldset>
      <fieldset>
        <label for="edit-name">Name:</label>
        <input type="text" id="edit-name" name="name" />
      </fieldset>
      <fieldset>
        <label for="edit-age">Age:</label>
        <input type="number" id="edit-age" name="age" min="18" max="100" />
      </fieldset>
      <fieldset>
        <label for="edit-jerseyNumber">Jersey Number:</label>
        <input type="number" id="edit-jerseyNumber" name="jerseyNumber" />
      </fieldset>
      <input type="submit" value="Update position" />
      <a href="/positions" class="button cancel-button">Cancel</a>
    </form>
  </main>
</body>
</html>