<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Add Season Player</title>
  <link rel="stylesheet" href="/reset.css" />
  <link rel="stylesheet" href="/LEBRON.css" />
</head>
<body>
  <%- include("partials/header") %>
  <main>
    <h2>Edit Season Player </h2>
    <form method="post" action="/season_players/update">
      <input type="hidden" name="seasonTeamPlayerID" value="<%= season_player.seasonTeamPlayerID %>" />
      <fieldset>
        <label for="season">Season:</label>
        <select id="season" name="seasonID" required>
          <option value="">Select Season</option>
          <% seasons.forEach(function(season) { %>
            <option <%= season.seasonID === season_player.seasonID ? "selected" : "" %> value="<%= season.seasonID %>"><%= season.year %></option>
          <% }); %>
        </select>
      </fieldset>      
      <fieldset>
        <label for="team">Team:</label>
        <select id="team" name="teamID" required>
          <option value="">Select Team</option>
          <% teams.forEach(function(team) { %>
            <option <%= team.teamID  === season_player.teamID ? "selected" : "" %> value="<%= team.teamID %>"><%= team.name %></option>
          <% }); %>
        </select>
      </fieldset>
      <fieldset>
        <label for="player">Player:</label>
        <select id="player" name="playerID" required>
          <option value="">Select Player</option>
          <% players.forEach(function(player) { %>
            <option <%= player.playerID === season_player.playerID ? "selected" : "" %> value="<%= player.playerID %>"><%= player.name %></option>
          <% }); %>
        </select>
      </fieldset>
      <input type="submit" value="Update Player" />
    </form>
  </main>
</body>
</html>